#문제1
A 학교에서는 단체 티셔츠를 주문하기 위해 학생별로 원하는 티셔츠 사이즈를 조사했습니다. <font color=blue>선택할 수 있는 티셔츠 사이즈는 작은 순서대로 "XS", "S", "M", "L", "XL", "XXL" 총 6종류</font>가 있습니다.

학생별로 <font color=blue>원하는 티셔츠 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 매개변수로 주어질 때, 사이즈별로 티셔츠가 몇 벌씩 필요</font>한지 <font color=blue>가장 작은 사이즈부터 순서대로 리스트에 담아</font> return 하도록 `solution()` 함수를 완성해주세요.

---
##### 매개변수 설명
학생별로 원하는 사이즈를 조사한 결과가 들어있는 리스트 shirt_size가 solution 함수의 매개변수로 주어집니다.
* shirt_size 의 길이는 1 이상 100 이하입니다.(<font color=blue>학생수 최소 1명에서 최대 100까지 고려</font>)
* shirt_size 에는 치수를 나타내는 문자열 "XS", "S", "M", "L", "XL", "XXL" 이 들어있습니다.

---
##### return 값 설명
티셔츠가 사이즈별로 몇 벌씩 필요한지 가장 작은 사이즈부터 순서대로 리스트에 담아 return 해주세요.
* return 하는 리스트에는 [ "XS" 개수, "S" 개수, "M" 개수, "L" 개수, "XL" 개수, "XXL" 개수] 순서로 들어있어야 합니다.

---
##### 예시

| shirt_size                       | return        |
|----------------------------------|---------------|
| ["XS", "S", "L", "L", "XL", "S"] | [1, 2, 0, 2, 1, 0] |
| <font color=blue>["XXL", "XXL", "S", "S", "M", "M", "M", "S"]</font> | <font color=blue>[ 0, 3, 3, 0, 0, 2] </font>|

##### 예시 설명
<font color =blue>위 표에서 첫번째 행(예시)에 대한 설명</font>
* "XS"와 "XL"은 각각 한 명씩 신청했습니다.
* "S"와 "L"은 각각 두 명씩 신청했습니다.
* "M"과 "XXL"을 신청한 학생은 없습니다.

따라서 순서대로 [1, 2, 0, 2, 1, 0]을 리스트에 담아 return 하면 됩니다.

아래는 제시된 코드입니다. `solution()`함수를 완성하세요.

In [ ]:
#You may use import as below.
#import math

def solution(shirt_size):
    #Write code here.
    answer = []
    return answer

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

아래 코드는 '답'입니다.

In [ ]:
def solution(shirt_size):
    size_counter = [0 for _ in range(6)]
    for ss in shirt_size:
        if ss == "XS":
            size_counter[0] += 1
        elif ss == "S":
            size_counter[1] += 1
        elif ss == "M":
            size_counter[2] += 1
        elif ss == "L":
            size_counter[3] += 1
        elif ss == "XL":
            size_counter[4] += 1
        elif ss == "XXL":
            size_counter[5] += 1
    return size_counter

주어진 '답'을 사용해서 완성한 코드는 아래와 같습니다.

In [ ]:
#You may use import as below.
#import math

def solution(shirt_size):
    size_counter = [0 for _ in range(6)]
    for ss in shirt_size:
        if ss == "XS":
            size_counter[0] += 1
        elif ss == "S":
            size_counter[1] += 1
        elif ss == "M":
            size_counter[2] += 1
        elif ss == "L":
            size_counter[3] += 1
        elif ss == "XL":
            size_counter[4] += 1
        elif ss == "XXL":
            size_counter[5] += 1
    return size_counter

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

Solution: return value of the function is  [1, 2, 0, 2, 1, 0]  .

## 문제1 분석

In [ ]:
size_counter = [0 for _ in range(6)]
print( type(size_counter), size_counter )

<class 'list'> [0, 0, 0, 0, 0, 0]

(1) `[0 for _ in range(6)]`은 리스트 내포 방식으로 새로운 리스트를 만들고 있습니다.

(2) `for _ in range(6)`의 코드에의해 `for`문 영역에 포함된 statement(문장)을 6번 반복 수행하게 되는데 `_`의 의미는 변수 이름을 `_`로 정했다고 생각하시면 됩니다. 즉, 변수에 할당 되는 값이 큰 의미가 없을 때 또는 그 변수를 `for`문 내에서 활용할 필요가 없을 때 사용하는 변수 이름으로 정도로 생각하시면 되겠습니다
.

In [ ]:
import numpy as np
size_counter = np.zeros(6)
print(size_counter)

[0. 0. 0. 0. 0. 0.]

(3) `for _ in range(6)`에서 6을 사용한 이유는 셔츠 사이즈가 6종이기 때문입니다. `np.zeros(6)`에서 6인 사용된 이유도 같은 이유에서 입니다.

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def solution(shirt_size):
    shirt_sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL']
    size_counter =[]
    for size in shirt_sizes:
      size_counter.append( shirt_size.count(size) )
    return size_counter

In [ ]:
def solution(shirt_size):
    shirt_sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL']
    size_counter =[]
    for size in shirt_sizes:
      size_counter.append( shirt_size.count(size) )
    return size_counter

#The following is code to output testcase.
shirt_size = ["XS", "S", "L", "L", "XL", "S"]
ret = solution(shirt_size);

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

Solution: return value of the function is  [1, 2, 0, 2, 1, 0]  .

#문제2
A 쇼핑몰에서는 회원 등급에 따라 할인 서비스를 제공합니다.
회원 등급에 따른 할인율은 다음과 같습니다.
(S = 실버, G = 골드, V = VIP)

| 등급     | 할인율 |
|----------|--------|
| "S" | 5%     |
| "G"   | 10%    |
| "V"    | 15%    |

상품의 가격 `price`와 구매자의 회원 등급을 나타내는 문자열 `grade`가 매개변수로 주어질 때, 할인 서비스를 적용한 가격을 `return` 하도록 `solution()` 함수를 완성해주세요.

---

#####매개변수 설명
상품의 가격 `price`와 회원 등급 `grade`가 <font color=blue>`solution()`</font>함수의 매개변수로 주어집니다.
* price는 100 이상 100,000 이하의 100단위 자연수입니다.<font color=blue>(?)</font>
* grade는 "S", "G", "V" 세 가지 중 하나입니다.

---

#####return 값 설명
할인한 가격을 return 하도록 solution 함수를 작성해주세요.

---

#####예시

| price | grade    | return |
|-------|----------|--------|
| 2500  | "V"    | 2125   |
| 96900 | "S" | 92055  |

##### 예시 설명
예시 #1
2500원의 15%는 375원 입니다. 2500 - 375 = 2125 입니다.

예시 #2
96900원의 5%는 4845원 입니다. 96900 - 4845 = 92055 입니다.

아래는 제시된 코드입니다. `solution()` 함수를 완성하시오.

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
    #Write code here.
    # 등급에 '따라' 각기 다른 할인율(5%, 10%, 15%)을 적용하여 
    # 할인된 금액을 계산 하세요.
    # 할인율이 회원 등급과 관계 없이 5%라면
    # 할인된 금액, answer = price * 0.95
    answer = 0
    return answer

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

아래 제시된 코드는 '답'입니다.

In [ ]:
def solution(price, grade):
    answer = 0
    if grade == "S":
        answer = int(price*0.95)
    if grade == "G":
        answer = int(price*0.9)
    if grade == "V":
        answer = int(price*0.85)
    return answer

아래 코드는 '답'을 활용해서 전체 코드를 완성한 것입니다.

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
    answer = 0
    if grade == "S":
        answer = int(price*0.95)
    if grade == "G":
        answer = int(price*0.9)
    if grade == "V":
        answer = int(price*0.85)   
    return answer
#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 2125 .
Solution: return value of the function is 92055 .

## 문제2 분석
`solution()` 함수는 가격(`price`)와 회원등급(`grade`)를 매개 변수로 받아서 회원 등급별로 각기다른 할인율을 적용하여 판매 금액을 할인합니다. 

세 if문 중 하나에 해당되는 처리를 하고 나면 더 이상의 회원 등급 조사가 필요 없음에도 불구 하고 해당 회원의 등급 어느 등급인지 알기 위해 전 등급을 다 조사하는 불필요한 동작을 하고 있습니다.

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def solution(price, grade):
  answer = 0
  if grade == "S":
    answer = int(price*0.95)
  elif grade == "G":
    answer = int(price*0.9)
  elif grade == "V":
    answer = int(price*0.85)
  else:
    answer = int(price)
  return answer

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
  answer = 0
  if grade == "S":
    answer = int(price*0.95)
  elif grade == "G":
    answer = int(price*0.9)
  elif grade == "V":
    answer = int(price*0.85)
  else:
    answer = int(price)
  return answer

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def solution(price, grade):
  discount = {'S':0.95, 'G':0.9, 'V':0.85}
  return int( price * discount[grade] )

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
  discount = {'S':0.95, 'G':0.9, 'V':0.85}
  return int( price * discount[grade] )

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

0.85
Solution: return value of the function is 2125.0 .
0.95
Solution: return value of the function is 92055.0 .

In [ ]:
# lst = ['S', 'G', 'V']   % 0.05, 0.1, 0.15
# idx = lst.index('G')
# print(idx)

#  price = 10000
#  price = price * (1 - (idx+1)*0.05)
# print( price )
# print( 10000 * 0.85)

1

In [ ]:
def solution(price, grade):
  idx = ['S', 'G', 'V'].index(grade)
  return int( price * (1-(idx+1)*0.05) )

In [ ]:
#You may use import as below.
#import math

def solution(price, grade):
  idx =['S', 'G', 'V'].index(grade)
  return int( price * (1 - (idx+1) * 0.05) )

#The following is code to output testcase.
price1 = 2500
grade1 = "V"
ret1 = solution(price1, grade1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
price2 = 96900
grade2 = "S"
ret2 = solution(price2, grade2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 2125 .
Solution: return value of the function is 92055 .

#문제3
시작 날짜와 끝 날짜가 주어질 때, 두 날짜가 며칠만큼 떨어져 있는지(D-day)를 구하려 합니다. 이를 위해 다음과 같이 3단계로 간단히 프로그램 구조를 작성했습니다. (단, 윤년은 고려하지 않습니다.)

~~~
1단계. 시작 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.
2단계. 끝 날짜가 1월 1일로부터 며칠만큼 떨어져 있는지 구합니다.
3단계. (2단계에서 구한 날짜) - (1단계에서 구한 날짜)를 구합니다.
~~~

시작 날짜의 월, 일을 나타내는 start_month, start_day, 끝 날짜의 월, 일을 나타내는 end_month, end_day가 매개변수로 주어질 때, 시작 날짜와 끝 날짜가 며칠만큼 떨어져 있는지 return 하도록 solution 함수를 작성했습니다. 이때, 위 구조를 참고하여 중복되는 부분은 func_a라는 함수로 작성했습니다. 코드가 올바르게 동작할 수 있도록 빈칸을 알맞게 채워주세요.

---
##### 매개변수 설명
시작 날짜의 월, 일을 나타내는 start_month, start_day, 끝 날짜의 월, 일을 나타내는 end_month, end_day가 solution 함수의 매개변수로 주어집니다.

* 잘못된 날짜가 주어지는 경우는 없습니다.
* 끝 날짜는 항상 시작 날짜보다 뒤에 있는 날이 주어집니다.
* 끝 날짜가 다음 해로 넘어가는 경우는 주어지지 않습니다.
  * 즉, start_month <= end_month를 항상 만족합니다.
  * start_month = end_month라면 start_day <= end_day를 항상 만족합니다.
* 각 달의 날짜 수는 1월부터 순서대로 [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31] 이며, 윤년은 고려하지 않습니다.

---
##### return 값 설명
시작 날짜와 끝 날짜가 며칠만큼 떨어져 있는지 return 해주세요.

---
##### 예시

| start_month | start_day | end_month | end_day | return |
|-------------|-----------|-----------|---------|--------|
| 1           | 2         | 2         | 2       | 31     |

##### 예시 설명
시작 날짜는 1월 2일이고, 끝 날짜는 2월 2일입니다.

* 1월 2일은 1월 1일로부터 1일만큼 지난 날입니다.
* 2월 2일은 1월 1일로부터 32일만큼 지난 날입니다.
* 32 - 1 = 31입니다.
* 따라서 1월 2일과 2월 2일은 31일만큼 떨어져 있습니다.

주어진 코드는 아래와 같습니다. `@@@`표시된 부분에 적절한 코드를 채우십시요.

```python
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0;
    for i in @@@:         # 범위값 필요
        total += @@@
    total += @@@
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

#The following is code to output testcase.
start_month = 1
start_day = 2

end_month = 2
end_day = 2
ret = solution(start_month, start_day, end_month, end_day)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")
```

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = 0;
    for i in range(month - 1):
        total += month_list[i]    
    total += day                  
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

solution(1, 2, 1, 3)

1

##문제3 분석

(1)`soultion(1, 2, 1, 3)`함수를 호출하는 경우를 생각해 보겠습니다. 시작 날자는 1월 2일이고 끝나는 날자는 1월 3일을 가정한 것입니다. `soultion(1, 2, 1, 3)`을 호출하면 먼저 `func_a(1, 2)`가 호출됩니다. 그리고 `func_a(1,2)`함수 내부에서는 `for in range(1-1)`가 호출됩니다.

In [ ]:
list( range(0) )

[]

In [ ]:
func_a(1,2)

1

In [ ]:
month = 1
day = 2
month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
total = 0;

for i in range(month - 1):
  total += month_list[i]    # 월별 날자
  print('in for')

total += day               # 날자 
print(total-1)

2

위 두 코드셀의 실행 결과에서 알 수 있듯이 먼저 `range(0)`는 일정 범위를 만들지 못했다는 것을 확인했습니다.   

그리고 `for in range(month-1)`은 `month=1`일 때 결국 `for in range(0)`과 같습니다. 결국 `for in` 구조에서 `in`뒤에 이터러블한 데이터가 와서 문법 에러가 나지는 않지만 반복 해서 꺼낼 데이터가 없기 때문에 `for`에 의한 반복 동작이 일어나지 않습니다. 만약 `for`문에 의한 반복 동작이 일어났다면 최소한 한번은 `print('in for')`가 실행되었어야 합니다. 따라서 `total+=month_list[i]` 문장도 실행될 수 없습니다. 

다만 `for`문 밖 `total+=day` 문장부터 실행되어 `total-1`의  값 1이 출력된 것입니다. "1월 2일은 새해 첫날(1월 1일)을 기준으로 1일이 지난 날입니다.

In [ ]:
func_a(1,3)

2

In [ ]:
month = 1
day = 3
month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
total = 0;

for i in range(month - 1):
  total += month_list[i]    # 월별 날자
  print('in for')

total += day               # 날자 
print(total-1)

2

func_a(1,3)을 실행하면 1월 3일은 새해 첫날(1월 1일)을 기준으로 2일이 지난 날입니다.

1월 2일과 1월 3일 몇일 떨어져 있냐는 물음에 "2일지난 날에서 1일 지난 날을 빼니 1일의 차이가 생기네요.

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = sum(month_list[:month-1]) + day
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

solution(1, 2, 1, 3)

1

#### 또 다른 코드로 동일 문제 해결

In [ ]:
def func_a(month, day):
    month_list = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
    total = sum(month_list[:month-1], day)
    return total - 1
        
def solution(start_month, start_day, end_month, end_day):
    start_total = func_a(start_month, start_day)
    end_total = func_a(end_month, end_day)
    return end_total - start_total

solution(1, 2, 1, 3)

1

#문제4
자연수가 들어있는 리스트가 있습니다. 이 리스트에서 가장 많이 등장하는 숫자의 개수는 가장 적게 등장하는 숫자 개수의 몇 배인지 구하려 합니다. 이를 위해 다음과 같이 간단히 프로그램 구조를 작성했습니다.

~~~
1단계. 리스트에 들어있는 각 자연수의 개수를 셉니다.
2단계. 가장 많이 등장하는 수의 개수를 구합니다.
3단계. 가장 적게 등장하는 수의 개수를 구합니다.
4단계. 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.
~~~

단, 몇 배 더 많은지 구할 때는 소수 부분은 버리고 정수 부분만 구하면 됩니다.

자연수가 들어있는 리스트 arr가 매개변수로 주어질 때, 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배 더 많은지 return 하도록 solution 함수를 작성하려 합니다. 위 구조를 참고하여 코드가 올바르게 동작할 수 있도록 빈칸에 주어진 func_a, func_b, func_c 함수와 매개변수를 알맞게 채워주세요.

---
##### 매개변수 설명
자연수가 들어있는 리스트 arr가 solution 함수의 매개변수로 주어집니다.
* arr의 길이는 3 이상 1,000 이하입니다.
* arr에는 1 이상 1,000이하의 자연수가 들어있습니다.

---
##### return 값 설명
<font color=blue>리스트에서 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배</font><font color=red> 이상</font> <font color=blue>많은지 return 해주세요.</font>

* 가장 많이 들어있는 수의 개수와 가장 적게 들어있는 수의 개수가 같은 경우에는 1을 return 합니다.

---
##### 예시

| arr                   | return |
|-----------------------|--------|
| [1,2,3,3,1,3,3,2,3,2] | 2      |

##### 예시 설명
리스트에 1이 2개, 2가 3개, 3이 5개 들어있습니다.

* 가장 적게 들어있는 숫자 : 1 (2개)
* 가장 많이 들어있는 숫자 : 3 (5개)

3이 1보다 2.5배 많이 들어있으며, 소수 부분을 버리고 2를 return 하면 됩니다.

#### 여기는 참고만 하세요.

<font color=blue> 자연수? 자연수는 양의 정수! 일단 위 1, 2, 3, 4단계를 적용하여 스스로 코드를 한번 만들어보세요.</font>

In [ ]:
# 단계 1 -리스트에 들어있는 각 자연수의 개수를 셉니다.
lst = [1, 2, 0, -1.2, -4, 3.14, 5, 5, 6, 6, 6, 7, 7, 7, 7]
mlst = []
for value in lst:
  if value > 0 and isinstance(value, int):
    mlst.append(value)
print(mlst)

unique = set(mlst)
print(unique)
result = {}

for value in unique:
  result[value] = lst.count(value)

print(result)

[1, 2, 5, 5, 6, 6, 6, 7, 7, 7, 7]
{1, 2, 5, 6, 7}
{1: 1, 2: 1, 5: 2, 6: 3, 7: 4}

In [ ]:
# 단계 1 -리스트에 들어있는 각 자연수의 개수를 셉니다.
from collections import Counter

lst = [1, 2, 0, -1.2, -4, 3.14, 5, 5, 6, 6, 6, 7, 7, 7, 7]
mlst = []

for value in lst:
  if value > 0 and isinstance(value, int):
    mlst.append(value)

print(mlst)

counter = Counter(mlst)
print(counter)
d_counter = dict(counter)
print(d_counter)

[1, 2, 5, 5, 6, 6, 6, 7, 7, 7, 7]
Counter({7: 4, 6: 3, 5: 2, 1: 1, 2: 1})
{1: 1, 2: 1, 5: 2, 6: 3, 7: 4}

In [ ]:
# 단계 2 - 가장 많이 등장하는 수의 개수를 구합니다.

print(d_counter.items())

# value(값)을 기준으로 정령
ss = sorted(d_counter.items(), key=lambda x:x[1])
print(ss)
print(ss[-1])

# key을 기준으로 정령
#sorted(d_counter.items(), key=lambda x:x[0])

dict_items([(1, 1), (2, 1), (5, 2), (6, 3), (7, 4)])
[(1, 1), (2, 1), (5, 2), (6, 3), (7, 4)]
(7, 4)

In [ ]:
# 단계 3 - 가장 적게 등장하는 수의 개수를 구합니다.
print(ss[0])

(1, 1)

In [ ]:
# 단계 4 - 가장 많이 등장하는 수가 가장 적게 등장하는 수보다 몇 배 더 많은지 구합니다.
print(ss[-1][1])
print(ss[0][1])

print(ss[-1][1] /ss[0][1])

4
1
4.0

제시된 코드입니다. '@@@' 위치에 적절한 코드를 넣어 원하는 동작이 수행될 수 있게 코드를 작성하세요.

```python
# counter 기능
def func_a(arr):                        # arr =  [1, 2, 3, 3, 1, 3, 3, 2, 3, 2]
    counter = [0 for _ in range(1001)]  # [0, 0, ... 0], 요소의 개수는 1001개
    for x in arr:
        counter[x] += 1
    return counter

# 최대값 구하는 함수
# 매개변수로 전달된 리스트에서 최대값 찾는 함수.
def func_b(arr):                        
    ret = 0
    for x in arr:
        if ret < x:
            ret = x
    return ret

# (0은 배제하고)최소값 찾는 함수
def func_c(arr):                       
    INF = 1001
    ret = INF
    for x in arr:                     # arr =  [1, 2, 3, 3, 1, 3, 3, 2, 3, 2]
        if x != 0 and ret > x:        # 0을 제외하고 최소값 찾기
            ret = x
    return ret

def solution(arr):
    counter = func_@@@(@@@)     # counter? func_a()는 카운터
    max_cnt = func_@@@(@@@)     # max_cnt? func_b() 최대값 
    min_cnt = func_@@@(@@@)     # min_cnt? func_c() 최소값
    return max_cnt // min_cnt

#The following is code to output testcase.
arr = [1, 2, 3, 3, 1, 3, 3, 2, 3, 2]
ret = solution(arr)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")
```


힌트
- '@@@'위치에 들어갈 코드는 동일한 코드가 아니라 '@@@'위치 마다 코드 일 수 있습니다.

## 코드 분석

In [ ]:
lst = [0 for _ in range(11)]
print( len(lst) )

lst = [0 for _ in range(1001)]
print( len(lst) )

11
1001

제시된 '답'은 아래와 같습니다.

In [ ]:
# 리스트 arr의 특정 요소가 몇 개 있는지 센다(count)
def func_a(arr):
    counter = [0 for _ in range(1001)]
    for x in arr:
        counter[x] += 1
    return counter

# 리스트 arr에서 최고값을 찾아서 반환
def func_b(arr):
    ret = 0
    for x in arr:
        if ret < x:
            ret = x
    return ret

# 리스트 arr에서 최소값을 찾아서 반환
def func_c(arr):
    ret = 1001
    for x in arr:
        if x != 0 and ret > x:
            ret = x
    return ret

def solution(arr):
    counter = func_a(arr)         # counter = [0, 2, 3, 5, 0, 0, ..... 0]의 의미는 0은 0개고 1은 2개이고 2는 3개 3은 5개이고 4, 5, ..., 1000은 0개라는 뜻
    #print(counter)

    max_cnt = func_b(counter)     # 리스트 counter는 / 리스트 arr 요소의 출현 빈도(값)을 / 요소로 합니다. 
    print(max_cnt)                # 따라서 리스트 counter의 최대값은 arr 요소의 최대 출현 빈도(값)입니다, 즉, arr 요소 중 가장 여러 번 등장한 횟수입니다.
    
    min_cnt = func_c(counter)     # 리스트 counter는 / 리스트 arr 요소의 출현 빈도(값)을 / 요소로 합니다. 
    return max_cnt // min_cnt     # 따라서 리스트 counter의 최소값은 arr 요소의 최소 출현 빈도(값)입니다. 즉, arr 요수 중 가장 적게 등장한 횟수입니다.
                                  # 그런데, 김동길 교수 : 이게 뭡니까?  연산자 //! ㅠ.ㅠ

#The following is code to output testcase.
arr = [1, 2, 3, 3, 1, 3, 3, 2, 3, 2]
ret = solution(arr)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

5
Solution: return value of the function is 2 .

 그런데, 
 
 김동길 교수 : "이게 뭡니까?~  연산자 // !" 

##### return 값 설명
<font color=blue>리스트에서 가장 많이 등장하는 숫자가 가장 적게 등장하는 숫자보다 몇 배</font><font color=red> 이상</font> <font color=blue>많은지 return 해주세요.</font>

#문제5
주어진 리스트의 순서를 뒤집으려고 합니다.

예를 들어 주어진 리스트가 [1, 4, 2, 3]이면, 순서를 뒤집은 리스트는 [3, 2, 4, 1]입니다.

정수가 들어있는 리스트 arr가 매개변수로 주어졌을 때, arr를 뒤집어서 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.

---
##### 매개변수 설명
정수가 들어있는 리스트 arr가 solution 함수의 매개변수로 주어집니다.
* arr의 길이는 1 이상 100 이하입니다.
* arr의 원소는 -100 이상 100 이하의 정수입니다.

---
##### return 값 설명
리스트 arr의 순서를 뒤집어서 return 해주세요.

---
##### 예시

| arr          | return       |
|--------------|--------------|
| [1, 4, 2, 3] | [3, 2, 4, 1] |

##### 예시 설명
[1, 4, 2, 3]을 뒤에서부터 읽으면 3, 2, 4, 1입니다. 따라서 [1, 4, 2, 3]의 순서를 뒤집은 결과는 [3, 2, 4, 1]이 됩니다.

```python
def solution(arr):
    left, right = 0, len(arr)-1
    while @@@:
        arr[left], arr[right] = arr[right], arr[left]
        left += 1
        right -= 1
    return arr

#The following is code to output testcase.
arr = [1, 4, 2, 3]
ret = solution(arr)

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")
```

In [ ]:
def solution(arr):
    left, right = 0, len(arr)-1
    while left < right:
        arr[left], arr[right] = arr[right], arr[left]
        left += 1
        right -= 1
    return arr

#The following is code to output testcase.
arr = [1, 4, 2, 3]
ret = solution(arr)

#Press Run button to receive output.
print("Solution: return value of the function is ", ret, " .")

Solution: return value of the function is  [3, 2, 4, 1]  .

##문제5 분석
* `left, right = 0, len(arr)-1`의 실행은 `left=0`와`right=len(arr)-1`를 실행 한 것과 같습니다. 튜플 언패킹이네요.`len(arr)-1`은 `3`임으로 `right`의 값은 3이 됩니다.

* `while`문 조건 `left < right`에서 조건 `left < right`의 값이 `True`임으로 반복 동작을 시작합니다.

  - `arr[left], arr[right] = arr[right], arr[left]` → `arr[0], arr[3] = arr[3], arr[0]` 맨 뒤 요소(인덱스 3)와 맨 앞 요소(인덱스 0)는 값을 서로 맞교환합니다.
  - `left += 1`와 `right -= 1`연산 후 `left`는 `1`이되고 `right`는 `2`가됨.

<center>

![image.png]()

</center>

* `while`문의 조건 `left < right`이 만족 따라서 다시 반복 연산 수행
  - `arr[left], arr[right] = arr[right], arr[left]` → `arr[1], arr[2] = arr[2], arr[1]` 인덱스 1 요소와 인덱스 2 요소의 값을 서로 맞교환합니다.
   - `left += 1'와 `right -= 1'연산 후 `left`는 `2`가되고 `right`는 `1`이됨.

* `while`문의 조건 `left < right`은 False. 따라서 → `while`문 종료

###<font color=blue>Quiz</font>
위 문제를 여러분이 생각하는 방식으로 풀어보세요. 생각하시는 방식을 적용하여 코드를 만들어 보세요.

아래 코드는 '힌트'입니다.

In [ ]:
# 힌트 A
lst = [1, 2, 3, 4]
new_list = []

for element in lst:
  new_list.append(element)

print(new_list)

[1, 2, 3, 4]

In [ ]:
# 힌트 B
lst = [1, 2, 3, 4]
new_list = []

for idx in range(len(lst)):
  new_list.append(lst[idx])

print(new_list)

[1, 2, 3, 4]

In [ ]:
# 힌트 C
lst = [1, 2, 3, 4]
new_list = []

for _ in range(len(lst)):
  new_list.append(lst.pop(-1))

print(new_list)

[4, 3, 2, 1]

In [ ]:
# 힌트 D

lst = [1, 2, 3, 4]
new_list = [ lst[idx] for idx in range(3, -1, -1) ]    # 3, 2, 1, 0

print(new_list)

[4, 3, 2, 1]

In [ ]:
# 힌트 A를 응용하여
lst = [1, 2, 3, 4]
new_list = []
idx = -1
for element in lst:
  new_list.insert(idx, element)
  idx -= 1
print(new_list)

[4, 3, 2, 1]

In [ ]:
# 힌트 B를 응용하여
lst = [1, 2, 3, 4]
new_list = []

for idx in range(len(lst)-1,-1,-1):
  new_list.append(lst[idx])

print(new_list)

[4, 3, 2, 1]

In [ ]:
# 힌트 B를 응용하여
lst = [1, 2, 3, 4]
new_list = []

for idx in range(-1, -5, -1):       # for idx in range(-1,-1*(len(lst)+1), -1):
  new_list.append(lst[idx])

print(new_list)

[4, 3, 2, 1]

In [ ]:
# 힌트 B를 응용하여
lst = [1, 2, 3, 4]
new_list = []

for idx in [3, 2, 1, 0]:       
  new_list.append(lst[idx])

print(new_list)

[4, 3, 2, 1]

다 치우고

In [ ]:
lst = [1, 2, 3, 4]
new_list = list( reversed(lst) )
print(new_list)

for idx in reversed(lst):
  print(idx)

print(type(reversed(lst)))

[4, 3, 2, 1]
4
3
2
1
<class 'list_reverseiterator'>

#문제6
369 게임은 여러 명이 같이하는 게임입니다. 게임의 규칙은 아래와 같습니다.
* 1부터 시작합니다.
* 한 사람씩 차례대로 숫자를 1씩 더해가며 말합니다.
* 말해야 하는 숫자에 3, 6, 9중 하나라도 포함되어있다면 <font color=blue>숫자를 말하는 대신 숫자에 포함된 3, 6, 9의 개수만큼 손뼉을 칩니다.</font>

어떤 수 number가 매개변수로 주어질 때, 1부터 number까지 369게임을 올바르게 진행했을 경우 박수를 총 몇 번 쳤는지를 return 하도록 solution 함수를 작성하려 합니다. 빈칸을 채워 전체 코드를 완성해주세요.

---

#####매개변수 설명
number가 solution 함수의 매개변수로 주어집니다.
* number는 10 이상 1,000 이하의 자연수입니다.

---

#####return 값 설명
1부터 number까지 369게임을 올바르게 진행했을 경우 박수를 총 몇 번을 쳤는지 return 해주세요.

---

#####예시

| number | return |
|--------|--------|
| 40     | 22     |

#####예시 설명
3, 6, 9 : 각각 한 번 (+3)
13, 16, 19 : 각각 한 번 (+3)
23, 26, 29 : 각각 한 번 (+3)
30, 31, 32, 33, ..., 38, 39 : 십의 자리 열 번 + 일의 자리 세 번 (+13)
따라서, 3 + 3 + 3 + 13 = 22번의 박수를 칩니다.

```python
for n in range(1, 41):
  sn = str(n)
  '3'이 sn 안에 있거나 '6'이 sn 안에 있거나 '9'가 sn 안에 있다면:
    print('짝')
  else:
    print(n)
```

```python
for n in range(1, 41):
  sn = str(n)
  '3'이 sn 안에 있거나(or) '6'이 sn 안에 있거나(or) '9'가 sn 안에 있다면(if):
    print('짝')
  else:
    print(n)
```

```python
for n in range(1, 41):
  sn = str(n)
  if '3'이 sn 안에 있다 또는(or) '6'이 sn 안에 있다 도는(or) '9'가 sn 안에 있다:
    print('짝')
  else:
    print(n)
```

In [ ]:
for n in range(1, 41):  # 1, 2, 3, .... ,39, 40
  sn = str(n)
  if '3' in sn or '6' in sn  or '9' in sn:
    print('짝')
  else:
    print(n)

1
2
짝
4
5
짝
7
8
짝
10
11
12
짝
14
15
짝
17
18
짝
20
21
22
짝
24
25
짝
27
28
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
짝
40

```python
def solution(number):
    count = 0
    for i in range(1, number + 1):
        current = i
        temp = count
        while current != 0:
            if @@@:
                count += 1
                print("pair", end = '')
            current = current // 10
        if temp == count:
            print(i, end = '')
        print(" ", end = '')
    print("")
    return count

#The following is code to output testcase.
number = 40
ret = solution(number)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")
```

'답'입니다.

In [ ]:
def solution(number):
    count = 0
    for i in range(1, number + 1):
        current = i
        while current != 0:
            if current % 10 == 3 or current % 10 == 6 or current % 10 == 9:
                count += 1
            current = current // 10
    return count

## 코드 분석
'답' 분석

In [ ]:
print(10//10)
print(11//10)
print(12//10)

1
1
1

In [ ]:
number = 40
count = 0

# for in range(1, number+1)
for i in range(1, 41):     # i = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, .... 40
  current = i              # current = i = 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, ..., 40

  while current != 0:     
    #if current % 10 == 3 or current % 10 == 6 or current % 10 == 9: # 숫자 current의 1의 자리 수가 3 or 6 or 9면 count += 1
    #  count += 1                                                    # count 값 1 증가(count += 1)  
    current  = current // 10                                        # 1부터 40까지의 숫자를 10으로 나우었을 때 몫을 출력, 1~40의 10의 자리의 수를 구함            
    print('(i, current) : ({}, {})'.format(i, current))            # current = 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2.....
                                                                    # current == 10, 20, 30, 40까지. 이 경우 while을 나감.

 
#print(count)

(i, current) : (1, 0)
(i, current) : (2, 0)
(i, current) : (3, 0)
(i, current) : (4, 0)
(i, current) : (5, 0)
(i, current) : (6, 0)
(i, current) : (7, 0)
(i, current) : (8, 0)
(i, current) : (9, 0)
(i, current) : (10, 1)
(i, current) : (10, 0)
(i, current) : (11, 1)
(i, current) : (11, 0)
(i, current) : (12, 1)
(i, current) : (12, 0)
(i, current) : (13, 1)
(i, current) : (13, 0)
(i, current) : (14, 1)
(i, current) : (14, 0)
(i, current) : (15, 1)
(i, current) : (15, 0)
(i, current) : (16, 1)
(i, current) : (16, 0)
(i, current) : (17, 1)
(i, current) : (17, 0)
(i, current) : (18, 1)
(i, current) : (18, 0)
(i, current) : (19, 1)
(i, current) : (19, 0)
(i, current) : (20, 2)
(i, current) : (20, 0)
(i, current) : (21, 2)
(i, current) : (21, 0)
(i, current) : (22, 2)
(i, current) : (22, 0)
(i, current) : (23, 2)
(i, current) : (23, 0)
(i, current) : (24, 2)
(i, current) : (24, 0)
(i, current) : (25, 2)
(i, current) : (25, 0)
(i, current) : (26, 2)
(i, current) : (26, 0)
(i, current) : (27, 2)
(i, current) : (27, 0)
(i, current) : (28, 2)
(i, current) : (28, 0)
(i, current) : (29, 2)
(i, current) : (29, 0)
(i, current) : (30, 3)
(i, current) : (30, 0)
(i, current) : (31, 3)
(i, current) : (31, 0)
(i, current) : (32, 3)
(i, current) : (32, 0)
(i, current) : (33, 3)
(i, current) : (33, 0)
(i, current) : (34, 3)
(i, current) : (34, 0)
(i, current) : (35, 3)
(i, current) : (35, 0)
(i, current) : (36, 3)
(i, current) : (36, 0)
(i, current) : (37, 3)
(i, current) : (37, 0)
(i, current) : (38, 3)
(i, current) : (38, 0)
(i, current) : (39, 3)
(i, current) : (39, 0)
(i, current) : (40, 4)
(i, current) : (40, 0)

In [ ]:
def solution(number):
    count = 0
    for i in range(1, number + 1):
        current = i                   # 1, 2, 3, 4, .... 40까지 순회함.
        while current != 0:
            if current % 10 == 3 or current % 10 == 6 or current % 10 == 9:
                count += 1
            current = current // 10
    return count

#The following is code to output testcase.
number = 40
ret = solution(number)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 22 .

In [ ]:
def solution(number):
    count = 0
    for i in range(1, number + 1):
        current = i
        temp = count
        while current != 0:
            if current % 10 == 3 or current % 10 == 6 or current % 10 == 9:
                count += 1
                print("pair", end = '')
            current = current // 10
        if temp == count:
            print(i, end = '')
        print(" ", end = '')
    print("")
    return count

#The following is code to output testcase.
number = 40
ret = solution(number)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

1 2 pair 4 5 pair 7 8 pair 10 11 12 pair 14 15 pair 17 18 pair 20 21 22 pair 24 25 pair 27 28 pair pair pair pair pairpair pair pair pairpair pair pair pairpair 40
Solution: return value of the function is 22 .

In [ ]:
#def solution(number):
    count = 0
    for i in range(1, number + 1):
        current = i
        temp = count
        while current != 0:
            if current % 10 == 3 or current % 10 == 6 or current % 10 == 9:
                count += 1
                print("pair", end = '')
            current = current // 10
        if temp == count:
            print(i, end = '')
        print(" ", end = '')
    print("")
    return count

#The following is code to output testcase.
number = 40
ret = solution(number)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

In [ ]:
lst = list(range(1,41))
slst = []
for element in lst:
  slst.append(str(element))

print(slst)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40']

하고 싶은 이야기기 많은데 (중략)

그냥 이렇게 짜면 될 것 같은데... 
출제자의 의도를 완벽하게 이해하기 어렵네요. '다 사정이 있었겠지!'하는 게 제 생각입니다만....

In [ ]:
lst = list(range(1,41))
slst = []
for element in lst:
  slst.append(str(element))

for element in slst:
  if '3' in element or '6' in element or '9' in element:
    print(f'짝({element})')
  else:
    print(element)

1
2
짝(3)
4
5
짝(6)
7
8
짝(9)
10
11
12
짝(13)
14
15
짝(16)
17
18
짝(19)
20
21
22
짝(23)
24
25
짝(26)
27
28
짝(29)
짝(30)
짝(31)
짝(32)
짝(33)
짝(34)
짝(35)
짝(36)
짝(37)
짝(38)
짝(39)
40

이렇게도 가능하겠습니다.

In [ ]:
'3' in '1234'

True

In [ ]:
3 in [3, 6, 9]

True

In [ ]:
lst = list(range(1,41))

for element in lst:
  quotient = element // 10    # 몫
  remainder = element % 10       # 나머지

  if quotient in [3, 6, 9] or remainder in [3, 6, 9]:
    print(f'짝({element})')

  else:
    print(element)

1
2
짝(3)
4
5
짝(6)
7
8
짝(9)
10
11
12
짝(13)
14
15
짝(16)
17
18
짝(19)
20
21
22
짝(23)
24
25
짝(26)
27
28
짝(29)
짝(30)
짝(31)
짝(32)
짝(33)
짝(34)
짝(35)
짝(36)
짝(37)
짝(38)
짝(39)
40
19

몇 번 박수 쳤는지 카운트?
### Quiz
제시한 코드를 활용하여 몇 번 박수 쳤는지 카운트할 수 있도록 직접 작성해 보세요.

In [ ]:
lst = list(range(1,41))
slst = []
for element in lst:
  slst.append(str(element))

count = 0
for element in slst:
  if '3' in element or '6' in element or '9' in element:
    print(f'짝({element})')
    count += 1
  else:
    print(element)

print('짝 count:', count)

1
2
짝(3)
4
5
짝(6)
7
8
짝(9)
10
11
12
짝(13)
14
15
짝(16)
17
18
짝(19)
20
21
22
짝(23)
24
25
짝(26)
27
28
짝(29)
짝(30)
짝(31)
짝(32)
짝(33)
짝(34)
짝(35)
짝(36)
짝(37)
짝(38)
짝(39)
40
짝 count: 19

In [ ]:
lst = list(range(1,41))
count = 0

for element in lst:
  quotient = element // 10    # 몫
  remainder = element % 10       # 나머지

  if quotient in [3, 6, 9] or remainder in [3, 6, 9]:
    print(f'짝({element})')
    count += 1
  else:
    print(element)

print('짝 count :', count)

1
2
짝(3)
4
5
짝(6)
7
8
짝(9)
10
11
12
짝(13)
14
15
짝(16)
17
18
짝(19)
20
21
22
짝(23)
24
25
짝(26)
27
28
짝(29)
짝(30)
짝(31)
짝(32)
짝(33)
짝(34)
짝(35)
짝(36)
짝(37)
짝(38)
짝(39)
40
짝 count : 19

In [ ]:
lst = list(range(1,41))
count = 0

for element in lst:
  quotient = element // 10    # 몫
  remainder = element % 10       # 나머지

  # 경우의 수 4가지 발생
  # 몫 | 나머지 | 출력
  #  F     F      숫자    
  #  F     T      짝
  #  T     F      짝
  #  T     T      짝짝
  
  if quotient not in [3, 6, 9] and remainder not in [3, 6, 9]:     # F F에 해당
    print(element)
  elif quotient in [3, 6, 9] and remainder in [3, 6, 9]:           # T T에 해당
    print('짝짝')
    count += 2
  else:                                                            # 그 외의 경우((T, F) 또는 (F, T))   
    print('짝')
    count += 1
  

print('짝 count :', count)

1
2
짝
4
5
짝
7
8
짝
10
11
12
짝
14
15
짝
17
18
짝
20
21
22
짝
24
25
짝
27
28
짝
짝
짝
짝
짝짝
짝
짝
짝짝
짝
짝
짝짝
40
짝 count : 22

#문제7
A 대학에서는 수준별 영어 강의를 제공하고 있습니다. 초급 영어 강의는 토익시험에서 <font color=blue>650점 이상 800점 미만의 성적을 취득한 학생만을 수강대상</font>으로 하고 있습니다. 초급 영어 강의에 수강신청한 사람이 10명일 때, 이 중에서 <font color=blue>몇명이 수강 대상에 해당하는지 확인</font>하려합니다.

수강신청자들의 토익 성적이 들어있는 리스트 scores가 (`soulation()` 함수의) 매개변수로 주어질 때, <font color=blue>수강 대상자들의 인원수를 return</font>하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 <font color=red> _**한 줄**_ </font>만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해주세요.  

---
```python
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s or s < 800:
            count += 1
    return count

#The following is code to output testcase. The code below is correct and you shall correct solution function.
scores = [650, 722, 914, 558, 714, 803, 650, 679, 669, 800]
ret = solution(scores)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")
```
---

#####매개변수 설명
수강신청자들의 토익 성적이 들어있는 리스트 scores가 solution 함수의 매개변수로 주어집니다.
* scores의 원소는 500 이상 990 이하의 정수입니다.
* scores의 길이는 10입니다.

---

#####return 값 설명
수강 대상자들의 인원수를 return 해주세요.

---

#####<font color=blue>예시</font>

| scores                                             | return |
|----------------------------------------------------|--------|
| [650, 722, 914, 558, 714, 803, 650, 679, 669, 800] | 6      |

#####예시 설명
|점수| 650 | 722 | 914 | 558 | 714 | 803 | 650 | 679 | 669 | 800 |
|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|-----|
|수강 대상| O   | O   | X   | X   | O   | X   | O   | O   | O   | X   |

650점 이상 800점 미만의 성적을 취득한 학생이 수강대상이므로, 800점을 취득한 학생은 수강대상이 아닙니다.
따라서, 6명이 수강 대상입니다.

##문제7 분석
지문으로 주어진 코드를 일단 실행시켜 보겠습니다.

In [ ]:
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s or s < 800:
            count += 1
    return count

# The following is code to output testcase. The code below is correct and you shall correct solution function.
scores = [650, 722, 914, 558, 714, 803, 650, 679, 669, 800]
ret = solution(scores)

# Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 10 .

`solution()` 함수에 10명의 점수를 전달했는데 **10명 모두 수강 대상자**다? **전원** 대상자라고 나왔습니다. 지문에 제시된 코드를 실행시켜 보지 않았더라도 코드에는 오류가 있고 원하는 결과를 얻기 위해서는 <font color=blue>코드 한 줄 수정</font>이 필요하다고 했습니다. 수정해야 할 코드는 `solution()` 내에 있을 것이구요.

```python
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s or s < 800:
            count += 1
    return count
```

요구 사항은 학생 10명의 점수를 보고 **650점 이상 800점 미만**에 해당하는 학생이 몇명인지 알아야 하는 상황입니다. 위 코드를 한번 다시 보시죠. 
<font color=red> **앗!**</font>  
`solution()` 함수 내에 있는 아래 코드의 경우 s 값이 어떤 영역에 들어올 때 참이 되나요?

```python
640 <= s or s < 800
```

다시 한번 **앗!**  

<br><br>  

주어진 '답'을 보겠습니다.

```python
def solution(scores):
    count = 0
    for i in range(len(scores)):
        if 650 <= scores[i] < 800:
            count += 1
    return count
```
지문에 있는 코드를 보겠습니다.

```python
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s or s < 800:
            count += 1
    return count
```
주어진 '답'은 두 줄을 수정했습니다. ㅎㅎㅎㅎ

<font color=red>야~</font>
유튜브 짤? 소리 지르는 동물 영상, 그 영상을 여기 넣고 싶습니다. 왜냐면,

```
주어진 코드에서 _**한 줄**_ 만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해주세요.  
```

**한 줄만** 고치라면서 그러면 답 코드는 이거 아닌가요?

```python
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s and s < 800:   # Look at me!
            count += 1
    return count
```

열내지 말고 우리가 생각한 답을 적용했을 때 원하는 결과가 출력되는지부터 확인하겠습니다.

In [ ]:
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s and s < 800:
            count += 1
    return count
# The following is code to output testcase. The code below is correct and you shall correct solution function.
scores = [650, 722, 914, 558, 714, 803, 650, 679, 669, 800]
ret = solution(scores)

# Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 6 .

"완벽해!"라고 말하기에는 조심스럽지만 일단 정상 동작하는 것으로 보입니다. 그럼 '답'으로 제시된 코드를 적용해서 테스트 해보겠습니다. 당연히 정상 동작 하리라 예상합니다.

In [ ]:
def solution(scores):
    count = 0
    for i in range(len(scores)):
        if 650 <= scores[i] < 800:
            count += 1
    return count
# The following is code to output testcase. The code below is correct and you shall correct solution function.
scores = [650, 722, 914, 558, 714, 803, 650, 679, 669, 800]
ret = solution(scores)

# Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is 6 .

아래 코드를 답으로 제출하면서 ㅎㅎㅎ "더 이상의 설명은 생략하겠습니다"

```python
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s and s < 800:
            count += 1
    return count
```

혹 아래 코드는 어떠신가요?
```python
def solution(scores):
    count = 0
    for s in scores:
        if 650 <= s < 800:
            count += 1
    return count
```

#문제8
앞에서부터 읽을 때와 뒤에서부터 읽을 때 똑같은 단어 또는 문장을 팰린드롬(palindrome)이라고 합니다. 예를 들어서 racecar, noon은 팰린드롬 단어입니다. 

소문자 알파벳, 공백(" "), 그리고 마침표(".")로 이루어진 문장이 팰린드롬 문장인지 점검하려 합니다. 문장 내에서 알파벳만 추출하였을 때에 팰린드롬 단어이면 팰린드롬 문장입니다. 예를 들어, "Never odd or even."과 같은 문장은 팰린드롬입니다.

소문자 알파벳, 공백(" "), 그리고 마침표(".")로 이루어진 문장 sentence가 주어질 때 팰린드롬인지 아닌지를 return 하도록 solution 함수를 작성했습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정해주세요.  

---
```python
def solution(sentence):
    str = ''
    for c in sentence:
        if c != '.' or c != ' ':
            str += c
    size = len(str)
    for i in range(size // 2):
        if str[i] != str[size - 1 - i]:
            return False
    return True


#The following is code to output testcase. The code below is correct and you shall correct solution function.
sentence1 = "never odd or even."
ret1 = solution(sentence1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
sentence2 = "palindrome"
ret2 = solution(sentence2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")
```
---
##### 매개변수 설명
소문자 알파벳, 공백(" "), 그리고 마침표(".")로 이루어진 문장 sentence가 solution 함수의 매개변수로 주어집니다.

* sentence의 길이는 1이상 100이하입니다.
* sentence에는 적어도 하나의 알파벳이 포함되어 있습니다.
* setntence의 각 문자는 소문자 알파벳, 공백(" "), 또는 마침표(".")입니다.

---
##### return 값 설명
주어진 문장이 팰린드롬인지 아닌지를 return 해주세요.

---
##### 예시

| sentence             	| return 	|
|----------------------	|--------	|
| "never odd or even." 	| true   	|
| "palindrome"         	| false  	|


##### 예시 설명
예시 #1
알파벳과 숫자만 추출하여 소문자로 변환해보면 "neveroddoreven"이 되며 이 단어는 팰린드롬입니다.

예시 #2
문장의 맨 앞 문자인 "p"와 맨 뒤 문자인 "e"가 다르므로 팰린드롬이 아닙니다.

## 문제8 분석
지문으로 주어진 코드를 일단 실행시켜 보겠습니다.

In [ ]:
def solution(sentence):
    str = ''
    for c in sentence:
        if c != '.' or c != ' ':
            str += c
    size = len(str)
    for i in range(size // 2):
        if str[i] != str[size - 1 - i]:
            return False
    return True


# The following is code to output testcase. The code below is correct and you shall correct solution function.
sentence1 = "never odd or even."
ret1 = solution(sentence1)

# Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")

sentence2 = "palindrome"
ret2 = solution(sentence2)

# Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is False .
Solution: return value of the function is False .

`sentence1`은 True가 출력되어야 하는데 Fasle를 출력했네요. 오동작을 하고 있습니다. 자~ 코드 어디를 고쳐야 하는지 생각해 보시죠.

(잡설? 아래 코드는 치명적인 코딩 실수가 있습니다. str 키워드를 변수로 사용했습니다. 그러나 `str()` 함수를 사용할 일이 전혀 없다면 ... 뭐~ OK! )

In [ ]:
def solution(sentence):
    str = ''                            # 빈 문자열 생성
    for c in sentence:                  # 매개변수 sentence에 저장된 문자열에서, 각 한 글자씩 가져와 
        if c != '.' or c != ' ':        # 이 코드의 의미는? 이 코드의 의미를 저에게 꼭 설명해 주세요. 지금요!
            str += c
    size = len(str)
    for i in range(size // 2):
        if str[i] != str[size - 1 - i]:
            return False
    return True

제시된 '답'을 보시겠습니다.
```python
def solution(sentence):
    str = ''
    for c in sentence:
        if c != '.' and c != ' ':
            str += c
    size = len(str)
    for i in range(size // 2):
        if str[i] != str[size - 1 - i]:
            return False
    return True
```

지문에 있는 코드와 '답' 코드는 어디가 다른가요?

In [ ]:
def solution(sentence):
  str = ''
  for c in sentence:
    if c != '.' and c != ' ':
      str += c
    size = len(str)
  
  for i in range(size // 2):
    if str[i] != str[size - 1 - i]:
      return False
  
  return True


# The following is code to output testcase. The code below is correct and you shall correct solution function.
sentence1 = "never odd or even."
ret1 = solution(sentence1)

# Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")

sentence2 = "palindrome"
ret2 = solution(sentence2)

# Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is True .
Solution: return value of the function is False .

#문제9
알파벳 문자열이 주어질 때, 연속하는 중복 문자를 삭제하려고 합니다. 예를 들어, "senteeeencccccceeee"라는 문자열이 주어진다면, "sentence"라는 결과물이 나옵니다.

영어 소문자 알파벳으로 이루어진 임의의 문자열 characters가 매개변수로 주어질 때, 연속하는 중복 문자들을 삭제한 결과를 return 하도록 solution 함수를 작성하였습니다. 그러나, 코드 일부분이 잘못되어있기 때문에, 코드가 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.

---
```python
def solution(characters):
    result = ""
    result += characters[0]
    for i in range(len(characters)):
        if characters[i - 1] != characters[i]:
            result += characters[i]
    return result

#The following is code to output testcase. The code below is correct and you shall correct solution function.
characters = "senteeeencccccceeee"
ret = solution(characters)

#Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")
```
---

#####매개변수 설명
영어 소문자 알파벳으로 이루어진 임의의 문자열 characters가 solution 함수의 매개변수로 주어집니다. 
* characters는 알파벳 소문자로만 이루어져있습니다.
* characters의 길이는 10 이상 100 이하입니다.

---

#####return 값 설명
characters에서 연속하는 중복 문자를 제거한 문자열을 return 해주세요.

---

#####예시

| characters                  | return    |
|-------------------------|-----------|
| "senteeeencccccceeee" | "sentence" |

## 문제 분석
문제 분석에 앞서 아래 코드를 실행 살펴 보십시요.

In [ ]:
hobbys = ['낚시', '등산', '드라이브']
message ='저의 취미는 '

for hobby in hobbys:
  message += hobby + ', '

message += '입니다.'

print(message)

저의 취미는 낚시, 등산, 드라이브, 입니다.

출력 결과 "~드라이브, 입니다"입니다. 불필요한 쉼표가 포함되어 있네요. 왜 그런지 이유는 아시죠? 이 쉼표를 제거하겠습니다.

In [1]:
hobbys = ['낚시', '등산', '드라이브']
message ='저의 취미는 '

for hobby in hobbys:
  message += hobby + ', '

message = message[:len(message)-2]
message += '입니다.'

print(message)

저의 취미는 낚시, 등산, 드라이브입니다.

쉼표를 제거하는 방법도 있겠지만 `message` 생성 단계에서 불필요한 쉼표를 붙이지 않는 것도 방법이겠습니다.

In [ ]:
hobbys = ['낚시', '등산', '드라이브']
message ='저의 취미는 '

for idx in range(len(hobbys)):
  message += hobbys[idx]
  if idx != len(hobbys) -1:
    message += ', '

message += '입니다.'

print(message)

저의 취미는 낚시, 등산, 드라이브입니다.

이제 '문제 9'로 되돌아와서 '지문 코드'를 실행시켜 보겠습니다.

In [ ]:
def solution(characters):
    result = ""
    result += characters[0]
    for i in range(len(characters)):
        if characters[i - 1] != characters[i]:
            result += characters[i]
    return result

# The following is code to output testcase. The code below is correct and you shall correct solution function.
characters = "senteeeencccccceeee"
ret = solution(characters)

# Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is ssentence .

먼저 위 코드가 문자열 데이터에서 이어지는 문자가 중복(동일한 문자)인지를 인지하고 있습니까?

```python
if characters[i - 1] != characters[i]:
  result += characters[i]
```

위 코드와 같은 판단과 판단에 따른 실행은 어디서부터 어디까지 해야할까요? 조금 다른 측면에서 말하면, 위 코드와 같은 판단을 몇번이나 해야하며 문자열 어디서부터 조사해야할까요? 처음부터 끝까지?  

```python
for i in range(len(characters)):
  if characters[i - 1] != characters[i]:
    result += characters[i]
```

위 코드에서 `i=0` 경우 어떤 처리를 하게 되는겁니까?

<br><br>

제시된 '답'을 보시겠습니다

## 제시된 '답'

```python
def solution(characters):
    result = ""
    result += characters[0]
    for i in range(1, len(characters)):
        if characters[i - 1] != characters[i]:
            result += characters[i]
    return result
```

In [ ]:
def solution(characters):
    result = ""
    result += characters[0]
    for i in range(1,len(characters)):
        if characters[i - 1] != characters[i]:
            result += characters[i]
    return result

# The following is code to output testcase. The code below is correct and you shall correct solution function.
characters = "senteeeencccccceeee"
ret = solution(characters)

# Press Run button to receive output.
print("Solution: return value of the function is", ret, ".")

Solution: return value of the function is sentence .

#문제10
평균은 자료의 합을 자료의 개수로 나눈 값을 의미합니다. <font color=blue>자연수가 들어있는 **리스트의 평균**을 구하고, **평균 이하인 숫자는 몇 개** 있는지 구하려합니다.</font> 예를 들어 주어진 리스트가 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]이라면, 평균은 5.5이므로 리스트에서 평균 이하인 값은 5개입니다.

자연수가 들어있는 리스트 data가 매개변수로 주어질 때, <font color=red>리스트에 평균 이하인 값은 몇 개인지 return</font> 하도록 solution 함수를 작성했습니다. 그러나, <font color=blue>코드 일부분이 잘못되어있기 때문에, 몇몇 입력에 대해서는 올바르게 동작하지 않습니다. 주어진 코드에서 _**한 줄**_ 만 변경해서 모든 입력에 대해 올바르게 동작하도록 수정하세요.</font>

---
```python
def solution(data):
    total = sum(data)
    average = len(data) / total
    cnt = 0
    for d in data:
        if d <= average:
            cnt += 1
    return cnt


# The following is code to output testcase. The code below is correct and you shall correct solution function.
data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ret1 = solution(data1)

# Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")

data2 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 10]
ret2 = solution(data2)

# Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")
```
---

#####매개변수 설명
자연수가 들어있는 리스트 data가 solution 함수의 매개변수로 주어집니다.
* data의 길이는 10 이상 100 이하 정수입니다.
* data의 원소는 1 이상 1,000 이하의 자연수입니다.

---

#####return 값 설명
평균보다 값이 작은 자연수는 몇개인지 return 해주세요.

---
#####예시

| data                            | return |
|---------------------------------|--------|
| [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] | 5      |
| [1, 1, 1, 1, 1, 1, 1, 1, 1, 10] | 9      |

---
#####예시 설명
예시 #1
자료의 합은 55이며, 자료의 개수는 10개입니다. 따라서 평균은 55 / 10 = 5.5입니다.
주어진 리스트에서 5.5보다 작은 숫자는 총 5개입니다.

예시 #2
자료의 합은 19이며, 자료의 개수는 10개입니다. 따라서 평균은 19 / 10 = 1.9입니다.
주어진 리스트에서 1.9보다 작은 숫자는 총 9개입니다.

## 문제 분석
주어진 코드를 실행시켜 보겠습니다.

In [ ]:
def solution(data):
    total = sum(data)
    average = len(data) / total
    cnt = 0
    for d in data:
        if d <= average:
            cnt += 1
    return cnt


#The following is code to output testcase. The code below is correct and you shall correct solution function.
data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ret1 = solution(data1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
data2 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 10]
ret2 = solution(data2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 0 .
Solution: return value of the function is 0 .

## 제시된 '답'
제시된 답 코드를 보시기 전에 아래 코드를 한 번 보십시요.

```python
total = sum(data)
average = total / len(data)
```

In [ ]:
data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
total = sum(data)
average = total / len(data)
print(average)

5.5

이제 제시된 '답'을 보겠습니다.
```python
def solution(data):
    total = sum(data)
    average = total / len(data)
    cnt = 0
    for d in data:
        if d <= average:
            cnt += 1
    return cnt
```

'제시된 답'을 적용하여 전체 코드를 완성하겠습니다.

In [ ]:
def solution(data):
    total = sum(data)
    average = total / len(data)
    cnt = 0
    for d in data:
        if d <= average:
            cnt += 1
    return cnt


#The following is code to output testcase. The code below is correct and you shall correct solution function.
data1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ret1 = solution(data1)

#Press Run button to receive output.
print("Solution: return value of the function is", ret1, ".")
    
data2 = [1, 1, 1, 1, 1, 1, 1, 1, 1, 10]
ret2 = solution(data2)

#Press Run button to receive output.
print("Solution: return value of the function is", ret2, ".")

Solution: return value of the function is 5 .
Solution: return value of the function is 9 .

## 내가 자유롭게 만든 답

In [ ]:
import numpy as np

data = [1, 2, 3]
total = sum(data)
average = np.mean(data)

print(f'total:{total}, average:{average}')

total:6, average:2.0

위 코드를 활용하여 아래와 같이 작성할 수 있음.

In [ ]:
def solution(data):
  total = sum(data)
  average = np.mean(data)

  cnt = 0
  for d in data:
    if d <= average:
      cnt += 1
  
  return cnt

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ret = solution(data)
print(ret)

5