# Pandas의 기초
## Pandas의 데이터 형식
### Series 형식

In [1]:
import pandas as pd
pd.Series([7, 3, 5, 8])

0    7
1    3
2    5
3    8
dtype: int64

#### index

In [2]:
x = pd.Series([7, 3, 5, 8], index=['서울', '대구', '부산', '광주'])
print(x)
x['서울']

서울    7
대구    3
부산    5
광주    8
dtype: int64

7

In [3]:
x[['서울', '대구']]

서울    7
대구    3
dtype: int64

In [3]:
x.index

Index(['서울', '대구', '부산', '광주'], dtype='object')

#### sorted()

In [4]:
print(sorted(x.index))

['광주', '대구', '부산', '서울']

In [5]:
sorted(x.values)

[3, 5, 7, 8]

In [6]:
x.reindex(sorted(x.index))

광주    8
대구    3
부산    5
서울    7
dtype: int64

#### unique()

In [11]:
medal = [1, 3, 2, 4, 2, 3]
x = pd.Series(medal)
print(pd.unique(x))

[1 3 2 4]

In [12]:
medal = ['민준', '현우', '서연', '동현', '서연', '현우']
x = pd.Series(medal)
print(pd.unique(x))

['민준' '현우' '서연' '동현']

#### 사전 형식의 데이터를 Pandas의 Series 형식으로 변환

In [13]:
age = {'민준':23, '현우':43, '서연':12, '동현':45}
x = pd.Series(age)
x

민준    23
현우    43
서연    12
동현    45
dtype: int64

In [14]:
names = ['민준', '서연', '현우', '민서', '동현', '수빈']
pdata = pd.Series(names)
print(pdata)

0    민준
1    서연
2    현우
3    민서
4    동현
5    수빈
dtype: object

In [15]:
a = pdata[3:6]
print(a.values)

['민서' '동현' '수빈']

#### 요약

In [16]:
print(a[2])

KeyError: 2

In [17]:
print(a)

3    민서
4    동현
5    수빈
dtype: object

### 데이터프레임

In [18]:
data = {'age' : [23, 43, 12, 45],
       'name' : ['민준', '현우', '서연', '동현'],
       'height' : [175.3, 180.3, 165.8, 172.7]}
x = pd.DataFrame(data, columns = ['name', 'age', 'height'])
x

  name  age  height
0   민준   23   175.3
1   현우   43   180.3
2   서연   12   165.8
3   동현   45   172.7

#### name 컬럼의 내용만 출력

In [19]:
x.name

0    민준
1    현우
2    서연
3    동현
Name: name, dtype: object

#### iloc()

In [20]:
ary = [[1, 2], [3, 4], [5, 6]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6

In [21]:
data.iloc[1]

First     3
Second    4
Name: 1, dtype: int64

In [22]:
#p178
data.iloc[:, -1]

0    2
1    4
2    6
Name: Second, dtype: int64

#### head()와 tail()

In [23]:
ary = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data.head(3)

   First  Second
0      1       2
1      3       4
2      5       6

In [24]:
data.tail(3)

   First  Second
2      5       6
3      7       8
4      9      10

#### 특정 항목만 선택

In [25]:
bools = [False, True, True, False, True]
data.Second[bools]

1     4
2     6
4    10
Name: Second, dtype: int64

In [26]:
print(x.mean(axis=0))

TypeError: Could not convert ['민준현우서연동현'] to numeric

#### [참고] 부울형 리스트를 인덱스 값으로 입력

In [27]:
data = {'age' : [23, 43, 12, 45],
       'name' : ['민준', '현우', '서연', '동현'],
       'height' : [175.3, 180.3, 165.8, 172.7]}
x = pd.DataFrame(data, columns = ['name', 'age', 'height'])
index = [True, False, True, False]
print(x[index])

  name  age  height
0   민준   23   175.3
2   서연   12   165.8

## Pandas 데이터의 형변환

In [28]:
import pandas as pd
#import numpy as np
ary = [[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
data = pd.DataFrame(ary, columns=['First', 'Second'])
data

   First  Second
0      1       2
1      3       4
2      5       6
3      7       8
4      9      10

In [29]:
data['First'] = data['First'].astype('float')
data

   First  Second
0    1.0       2
1    3.0       4
2    5.0       6
3    7.0       8
4    9.0      10

### Pandas에 파일 가져오기

In [33]:
import pandas as pd
food = pd.read_csv('food.csv')
food.head()

,Series_reference,Period,Data_value,STATUS,UNITS,Subject,Group,Series_title_1
0,CPIM.SE9S01,1999.06,645,REVISED,Index,Consumers Price Index - CPI,"Food Price Index for New Zealand, Seasonally a...",Seasonally adjusted
1,CPIM.SE9S01,1999.07,647,REVISED,Index,Consumers Price Index - CPI,"Food Price Index for New Zealand, Seasonally a...",Seasonally adjusted
2,CPIM.SE9S01,1999.08,645,REVISED,Index,Consumers Price Index - CPI,"Food Price Index for New Zealand, Seasonally a...",Seasonally adjusted
3,CPIM.SE9S01,1999.09,644,REVISED,Index,Consumers Price Index - CPI,"Food Price Index for New Zealand, Seasonally a...",Seasonally adjusted
4,CPIM.SE9S01,1999.10,641,REVISED,Index,Consumers Price Index - CPI,"Food Price Index for New Zealand, Seasonally a...",Seasonally adjusted